<template name="footer">

<!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright DIVAVEO 2008-2013 .</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Google Plus</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

</template>
