<template name="mentions">

<hr>
<a name="mentions"></a>
<h4 class="text-center" data-magellan-destination="mentions">
  Mentions légales
</h4>
<hr>

<div class="row collapse">
  <div class="small-4 columns">
    <ul class="vcard">
      <li class="fn">SARL DIVAVEO</li>
      <li class="fn">RCS BEZIERS 503 833 735</li>
      <li class="fn">SARL au capital de 250,00 euros</li>
      <li class="street-address">18 avenue Saint-Saëns</li>
      <li class="locality">Béziers</li>
      <li><span class="state">FRANCE</span>, <span class="zip">34500</span></li>
      <li class="email"><a href="mailto:contact@divaveo.com">contact@divaveo.com</a></li>
      <hr>
      <li>Hébergement du site DigitalOcean</li>
      <li>Déclaration <a href="https://s3.amazonaws.com/divaveo/recepisse_cnil_divaveo.pdf" target="_blank">CNIL N° 1281955</a></li>
      <li>Site créé avec <a href="http://meteor.com" target="_blank">MeteorJS</a></li>
      <li>Serveur <a href="http://nodejs.org" target="_blank">NodeJS</a> et BDD <a href="http://mongodb.com" target="_blank">Mongodb</a></li>
    </ul>
  </div>
  <div class="small-8 columns">
    <iframe width="660" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=3.214080333709717%2C43.33831974419521%2C3.224841356277466%2C43.34558411836538&amp;layer=mapquest&amp;marker=43.3419481385488%2C3.219466209411621" style="border: 1px solid black"></iframe> 
  </div>
</div>


</template>
