<template name="nav">

<div class="row">
  <div data-magellan-expedition="fixed">
    <dl class="sub-nav">
      <dt><img src="images/logo_diva.png"/></dt>
      <dt><a href="/">DIVAVEO</a></dt>
      <dd data-magellan-arrival="accueil"><a href="#accueil">Accueil</a></dd>
      <dd data-magellan-arrival="reals"><a href="#reals">Réalisations</a></dd>
      <dd data-magellan-arrival="method"><a href="#method">Méthode</a></dd>
      <dd data-magellan-arrival="price"><a href="#price">Prix</a></dd>
      <dd data-magellan-arrival="contact"><a href="#contact">Contact</a></dd>
      <div class="right">
        <dd><a href="#">Connexion</a></dd>
        <dd data-magellan-arrival="mentions"><a href="#mentions">Mentions légales</a></dd>
      </div>
    </dl> 
  </div>
</div>
  

</template>
